{{/*
SPDX-FileCopyrightText: 2023 Adriaan de Groot <groot@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<ul id="memberList">
  {{ range .Site.Data.members.names }}
    <li> {{ . }} </li>
  {{ end }}
</ul>
